:root {
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

main {
    margin-left: 5rem;
    padding: 1.2rem;
}

h1 {
    text-align: center;
}

/* Navigation SideBar */

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* Logo */

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

/* Themes */

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Header */

#header img {
    margin-left: 16%;
}

#header p {
    text-align: left;
    font-size: 24px;
}

/* About Me */

#aboutMe h4 {
    text-align: center;
}

#aboutMe p {
    text-align: center;
}

/* Properties */

.myProducts {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.myProducts-gallery {
    float: right;
}

.myProducts-gallery img{
    height: 142.5px;
    margin: 10px;
    cursor: pointer;
    display: block;
    opacity: .5;
}

.myProducts-gallery img:hover {
    opacity: 1;
}

.image-container {
    float: right;
    padding: 10px;
}

.image-container p {
    float: left;
    text-align: left;
    padding-right: 180px;
}

.image-container img {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.image-container img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}

/* Contact Me */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ececec;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons
{
    margin-top: 30px;
}
.social-icons a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover
{
    color: #0773e6;
    transform: translateY(-5px);
}

.contact-right form {
    width: 95%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn.btn2 {
    display: inline-block;
    background: #0773e6;
}

.btn.btn2:hover
{
    transform: scale(1.1);
}

.copyright {
    width: 98%;
    text-align: center;
    padding: 20px;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
}

.copyright footer {
    color: white;
}
